@mixin text-clamp($lines: 2, $line-height: false) {
  display: -webkit-box;
  overflow: hidden;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  word-break: break-all;
  @if $line-height {
    max-height: $line-height * $lines * 1px;
  }
}
$enable-reduced-motion: true !default;
$enable-transitions: true !default;

// stylelint-disable property-disallowed-list
@mixin transition($transition...) {
  @if length($transition) == 0 {
    $transition: $transition-base;
  }

  @if length($transition) > 1 {
    @each $value in $transition {
      @if $value == null or $value == none {
        @warn "The keyword 'none' or 'null' must be used as a single argument.";
      }
    }
  }

  @if $enable-transitions {
    @if nth($transition, 1) != null {
      transition: $transition;
    }

    @if $enable-reduced-motion and
      nth($transition, 1) !=
      null and
      nth($transition, 1) !=
      none
    {
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
  }
}

.ne {
  &-switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;

    input[type='checkbox'] {
      appearance: none; // 기본 스타일 제거
      -webkit-appearance: none;
      width: 100%;
      height: 100%;
      background-color: #e0e0e0;
      border-radius: 9999px;
      position: relative;
      cursor: pointer;
      outline: none;
      transition: background-color 0.3s ease;

      &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        transition: transform 0.3s ease;
      }

      &:checked {
        background: var(--Main-Main-Navy, #172e55);

        &::before {
          transform: translateX(16px);
        }
      }
    }
  }
  &-tooltip {
    position: absolute;
    bottom: 0;
    right: 5px;
    display: inline-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    // max-width: 600px;
    // min-height: 86px;

    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
    background: var(--Gray-White, #fff);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease;
    box-sizing: border-box;
    z-index: 200;
    white-space: noWrap;
    p {
      color: var(--gray-700323232, var(--gray-700323232, #323232));

      /* PC/Body/Medium/Small */

      font-size: var(--Font-size-body-small, 15px);
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 22.5px */
      letter-spacing: -0.6px;
    }
    &.top-center {
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: -12px;
        width: 22px;
        height: 12px;
        margin-left: -11px;
        background: url(../../netutor/renew/pc/icon//etc/tooltip.svg) no-repeat
          0% 50%;
        transform: rotate(180deg);
      }
    }
    &.top-left {
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 24px;
        bottom: -12px;
        width: 22px;
        height: 12px;
        background: url(../../netutor/renew/pc/icon//etc/tooltip.svg) no-repeat
          0% 50%;
        transform: rotate(180deg);
      }
    }
    &.top-right {
      &::before {
        content: '';
        display: block;
        position: absolute;
        right: 24px;
        bottom: -12px;
        width: 22px;
        height: 12px;
        background: url(../../netutor/renew/pc/icon//etc/tooltip.svg) no-repeat
          0% 50%;
        transform: rotate(180deg);
      }
    }
    &.bottom-right {
      margin-top: 6px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        right: 24px;
        top: -12px;
        width: 22px;
        height: 12px;
        background: url(../../netutor/renew/pc/icon//etc/tooltip.svg) no-repeat
          0% 50%;
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &-sns-layer {
    z-index: 120;
    position: absolute;
    bottom: 0;
    right: 5px;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    width: 256px;
    height: 64px;
    padding: 16px 24px;
    border-radius: 5px;
    border: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
    background: var(--Gray-White, #fff);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease;
    .ne-btn {
      gap: 8px;
      color: var(--gray-700323232, var(--gray-700323232, #323232));

      /* MO/Body/Medium/Large */

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
      letter-spacing: -0.6px;
    }
    &.top-right {
      &::before {
        content: '';
        display: block;
        position: absolute;
        right: 24px;
        bottom: -12px;
        width: 22px;
        height: 12px;
        background: url(../../netutor/renew/pc/icon//etc/tooltip.svg) no-repeat
          0% 50%;
        transform: rotate(180deg);
      }
    }
    &.bottom-right {
      margin-top: 6px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        right: 24px;
        top: -12px;
        width: 22px;
        height: 12px;
        background: url(../../netutor/renew/pc/icon//etc/tooltip.svg) no-repeat
          0% 50%;
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &-checkbox {
    display: inline-flex;
    align-items: center;
    min-height: 28px;
    position: relative;
    padding: 0 0 0 38px;
    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      &:checked ~ label {
        &::before {
          border-color: var(--Main-Main-Navy, #172e55);
          background: var(--Main-Main-Navy, #172e55)
            url(../../netutor/renew/mo/icon/20/check.svg) no-repeat 50% 50%;
        }
      }
    }
    label {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 28px;
        height: 28px;
        border: 2px solid #e1e1e1;
        background: #fff;
        border-radius: 4px;
        transition: all 0.1s ease-in-out;
      }

      color: var(--gray-700323232, var(--gray-700323232, #323232));

      /* PC/Body/Regular/Medium */

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1%; /* 24px */
      letter-spacing: -0.6px;
    }
  }
  &-radio {
    display: inline-flex;
    align-items: center;
    min-height: 28px;
    position: relative;
    padding: 0 0 0 38px;
    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      &:checked ~ label {
        &::before {
          border-color: #172e55;
        }
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    label {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 28px;
        height: 28px;
        background: #fff;
        border: 2px solid #e1e1e1;
        border-radius: 24px;
        transition: all 0.2s ease-in-out;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 7px;
        left: 7px;
        z-index: 20;
        width: 14px;
        height: 14px;
        background: #172e55;
        border-radius: 12px;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        visibility: hidden;
      }

      color: var(--gray-700323232, var(--gray-700323232, #323232));

      /* PC/Body/Regular/Medium */

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1%; /* 24px */
      letter-spacing: -0.6px;
    }
  }
  a.ne-btn,
  &-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    // min-width: 80px;
    height: 48px;
    padding: 0 24px;
    border: 0;
    white-space: noWrap;
    /* PC/Body/Medium/Small */

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.6px;
    border-radius: 5px;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &-sm {
      gap: 6px !important;
      min-width: 40px;
      height: 36px;
      padding: 0 16px;

      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 21px */
      letter-spacing: -0.6px;
    }
    &-lg {
      min-width: 100px;
      height: 56px;
      padding: 0 24px;
      font-size: 16px !important;
      font-weight: 500;
      line-height: 150%; /* 24px */
      letter-spacing: -0.6px;
    }

    &-primary {
      color: #fff;
      background: var(--Main-Main-Navy, #172e55);
      border: 1px solid var(--Main-Main-Navy, #172e55);
      &:hover,
      &.hover {
        background: var(--primary-8002-d-4265, #2d4265);
        border-color: var(--primary-8002-d-4265, #2d4265);
      }
      &:disabled {
        background: var(--primary-200-b-9-c-0-cb, #b9c0cb);
        border-color: var(--primary-200-b-9-c-0-cb, #b9c0cb);
      }
    }
    &-secondary {
      color: var(--gray-800191919, var(--gray-800191919, #191919));
      background: var(--color-secondary);
      border: 1px solid var(--color-secondary);
      &:hover,
      &.hover {
        background: var(--color-secondary-sub);
        border-color: var(--color-secondary-sub);
      }
      &:disabled {
        background: var(--color-secondary-disabled);
        border-color: var(--color-secondary-disabled);
      }
    }
    &-tertiary {
      color: #fff;
      background: var(--etc-button-color, #7093bf);
      border: 1px solid var(--etc-button-color, #7093bf);
      &:hover,
      &.hover {
        background: var(--etc-button_hover, #94b2d8);
        border-color: var(--etc-button_hover, #94b2d8);
      }
      &:disabled {
        background: var(--primary-200-b-9-c-0-cb, #b9c0cb);
        border-color: var(--primary-200-b-9-c-0-cb, #b9c0cb);
      }
    }
    &-black {
      color: #fff;
      background: var(--gray-6004-b-4-b-4-b, #4b4b4b);
      border: 1px solid var(--gray-6004-b-4-b-4-b, #4b4b4b);
      &:hover,
      &.hover {
        background: var(--gray-500969696, #969696);
        border-color: var(--gray-500969696, #969696);
      }
      &:disabled {
        background: var(--gray-200-e-1-e-1-e-1, #e1e1e1);
        border-color: var(--gray-200-e-1-e-1-e-1, #e1e1e1);
      }
    }
    &-white {
      color: var(--gray-800191919, var(--gray-800191919, #191919));
      background: var(--Gray-White, #fff);
      border: 1px solid var(--Gray-White, #fff);
      &:hover,
      &.hover {
        background: var(--Gray-White, #fff);
        border-color: var(--Gray-White, #fff);
      }
      &:disabled {
        background: var(--gray-200-e-1-e-1-e-1, #e1e1e1);
        border-color: var(--gray-200-e-1-e-1-e-1, #e1e1e1);
      }
    }

    &-outlined {
      border: 1px solid var(--Main-Main-Navy, #172e55);
      background: var(--Gray-White, #fff);
      color: var(--Primary-900_Primary, var(--Primary-900, #172e55));
      &:hover,
      &.hover {
        border: 1px solid var(--primary-700455777, #455777);
        background: var(--Gray-White, #fff);
      }
      &:disabled {
        background: #fff;
        opacity: 0.5;
      }
      &.ne-btn-white {
        background: none;
        border: 1px solid var(--Gray-White, #fff);
        color: var(--Gray-White, var(--Gray-White, #fff));
      }
    }
    &-rounded {
      border-radius: 99px;
    }
    &-text {
      height: auto;
      padding: 0;
      background: none;
      gap: 6px;
      color: var(--gray-6004-b-4-b-4-b, var(--gray-6004-b-4-b-4-b, #4b4b4b));

      /* MO/Body/Medium/Medium */

      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 21px */
      letter-spacing: -0.6px;
    }
    &-icononly {
      min-width: auto;
      width: auto;
      height: auto;
      padding: 0;
      background: none;
      &:disabled {
        i {
          opacity: 0.3;
        }
      }
    }
    &-select {
      height: 40px;
      border-radius: 20px;
      background: #fff;
      border: 1px solid var(--gray-300-c-8-c-8-c-8, #c8c8c8);
      color: var(--gray-500969696, var(--gray-500969696, #969696));
      text-align: center;
      font-size: var(--Font-size-body-small, 15px);
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 22.5px */
      letter-spacing: -0.6px;
      &.active {
        border: 1px solid var(--Main-Main-Navy, #172e55);
        background: var(--Main-Main-Navy, #172e55);
        color: var(--Gray-White, var(--Gray-White, #fff));
        font-weight: 500;
      }
    }
  }
  &-badge {
    display: inline-flex;
    height: 26px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    white-space: noWrap;
    /* PC/Label/Medium */

    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 19.5px */
    letter-spacing: -0.6px;
    &-primary {
      color: var(--Gray-White, var(--Gray-White, #fff));
      background: var(--Main-Main-Navy, #172e55);
      border: 1px solid var(--Main-Main-Navy, #172e55);
      &.ne-badge-outlined {
        border: 1px solid var(--Main-Main-Navy, #172e55);
        background: #fff;
        color: var(--Main-Main-Navy, var(--Main-Main-Navy, #172e55));
      }
      &.ne-badge-sub {
        border: 1px solid var(--gray-50-f-3-f-3-f-3, #f3f3f3);
        background: var(--gray-50-f-3-f-3-f-3, #f3f3f3);
        color: var(--Main-Main-Navy, var(--Main-Main-Navy, #172e55));
      }
    }
    &-secondary {
      color: var(--gray-800191919, var(--gray-800191919, #191919));
      background: var(--color-secondary-sub);
      border: 1px solid var(--color-secondary-sub);
      &.ne-badge-outlined {
        border: 1px solid var(--color-secondary);
        background: #fff;
        color: var(--Main-Main-Navy, var(--Main-Main-Navy, #172e55));
      }
      &.ne-badge-sub {
        border: 1px solid var(--color-secondary-disabled);
        background: var(--color-secondary-disabled);
        color: var(--gray-800191919, var(--gray-800191919, #191919));
      }
    }
    &-black {
      color: var(--Gray-White, var(--Gray-White, #fff));
      background: var(--gray-6004-b-4-b-4-b, #4b4b4b);
      border: 1px solid var(--gray-6004-b-4-b-4-b, #4b4b4b);
      &.ne-badge-outlined {
        border: 1px solid var(--gray-6004-b-4-b-4-b, #4b4b4b);
        background: #fff;
        color: var(--Main-Main-Navy, var(--Main-Main-Navy, #172e55));
      }
      &.ne-badge-sub {
        border: 1px solid var(--gray-100-ededed, #ededed);
        background: var(--gray-100-ededed, #ededed);
        color: var(--gray-800191919, var(--gray-800191919, #191919));
      }
    }
    &-sm {
      height: 28px;
      font-size: 13px;
    }
    &-rounded {
      height: 26px;
      border-radius: 26px;

      color: var(--Gray-White, var(--Gray-White, #fff));

      /* MO/Label/Small */
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 18px */
      letter-spacing: -0.6px;
    }
  }
  &-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    .ne-btn {
      border: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
    }
  }
  &-pagination {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    a {
      display: flex;
      min-width: 40px;
      height: 28px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: var(--gray-800191919, var(--gray-800191919, #191919));
      border-radius: 30px;

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 21px */
      letter-spacing: -0.6px;
      &.active {
        background: var(--etc-button-color, #7093bf);
        color: var(--Gray-White, var(--Gray-White, #fff));
        font-weight: 500;
      }
      &.ne-pagination-first {
        min-width: 16px;
        width: 16px;
        height: 16px;
        background: url(../../netutor/renew/mo/icon/16/pagination-first.svg)
          no-repeat 50% 50%;
        font-size: 0;
      }
      &.ne-pagination-prev {
        margin-right: 22px;

        min-width: 16px;
        width: 16px;
        height: 16px;
        background: url(../../netutor/renew/mo/icon/16/pagination-prev.svg)
          no-repeat 50% 50%;
        font-size: 0;
      }
      &.ne-pagination-next {
        margin-left: 22px;

        min-width: 16px;
        width: 16px;
        height: 16px;
        background: url(../../netutor/renew/mo/icon/16/pagination-next.svg)
          no-repeat 50% 50%;
        font-size: 0;
      }
      &.ne-pagination-last {
        min-width: 16px;
        width: 16px;
        height: 16px;
        background: url(../../netutor/renew/mo/icon/16/pagination-last.svg)
          no-repeat 50% 50%;
        font-size: 0;
      }
    }
  }
  &-select {
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    gap: 8px;
    float: none;
    width: 100%;
    height: 48px;
    padding: 0 48px 0 20px;
    border-radius: 24px;
    border: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
    color: var(--gray-800191919, var(--gray-800191919, #191919));

    /* MO/Body/Regular/Large */

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.6px;
    &.open {
      border-radius: 24px 24px 0 0;
      z-index: 30;
    }
    &::after {
      content: '';
      display: block;
      top: 50%;
      right: 16px;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      border: 0;
      background: url(../../netutor/renew/mo/icon/16/select.svg) no-repeat 50%
        50%;
      transform: rotate(0);
      transform-origin: center;
    }
    &.open {
      &:after {
        transform: rotate(180deg);
      }
    }
    &-gray {
      border: 0;

      border: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
      background: var(--gray-100-ededed, #ededed);
    }
    &-default {
      min-width: 98px;
      height: 33px;
      padding: 6px 8px;
      border-radius: 0;
      border: 0;
      background: none;
      color: var(--gray-6004-b-4-b-4-b, var(--gray-6004-b-4-b-4-b, #4b4b4b));

      /* MO/Body/Regular/Medium */

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 21px */
      letter-spacing: -0.6px;
      &::after {
        right: 8px;
        background: url(../../netutor/renew/mo/icon/16/select.svg) no-repeat 50%
          50%;
        z-index: 100;
      }

      .list {
        min-width: 98px;
        margin: -34px 0 0 0;
        padding: 0;
        border-radius: 12px;
        border: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
        transition: none;
        .option {
          height: 33px;
          margin: 0;
          padding: 6px 8px;
          color: var(
            --gray-6004-b-4-b-4-b,
            var(--gray-6004-b-4-b-4-b, #4b4b4b)
          );

          /* MO/Body/Regular/Medium */

          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
          letter-spacing: -0.6px;
          &:first-child {
            margin-top: 0;
          }
          &:hover,
          &.focus,
          &.selected.focus {
            background: none;
            color: var(--Main-Main-Navy, var(--Main-Main-Navy, #172e55));
            font-weight: 400;
          }
        }
      }
    }
    &-lg {
      height: 60px;
      border-radius: 30px;
      font-size: 16px;
      &.open {
        border-radius: 30px 30px 0 0;
      }
    }
    &-sm {
      height: 40px;
      padding: 0 48px 0 20px;
      border-radius: 20px;
      &.open {
        border-radius: 20px 20px 0 0;
      }
    }
  }
  &-input {
    display: inline-flex;
    position: relative;
    input {
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center;
      width: 100%;
      height: 48px;
      padding: 0 20px;
      border-radius: 30px;
      border: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
      background: var(--Gray-White, #fff);
      color: var(--gray-800191919, var(--gray-800191919, #191919));
      /* PC/Body/Regular/Small */

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      letter-spacing: -0.6px;
      box-sizing: border-box;

      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &::placeholder {
        font-size: 16px;
        color: var(--gray-500969696, var(--gray-500969696, #969696));
      }
      &:focus,
      &.focus {
        border: 2px solid var(--Main-Main-Navy, #172e55);
      }
      // &:focus ~ button {
      //   opacity: 1;
      //   visibility: visible;
      // }
      &:disabled {
        border: 2px solid var(--gray-100-ededed, #ededed);
        background: var(--gray-50-f-3-f-3-f-3, #f3f3f3);
        color: var(
          --Dark-Opacities-40,
          var(--Dark-Opacities-40, rgba(0, 0, 0, 0.4))
        );
      }
    }
    button {
      position: absolute;
      top: 50%;
      right: 16px;
      width: 24px;
      height: 24px;
      background: url(../../netutor/renew/pc/icon/24/delete.svg) no-repeat 50%
        50%;
      border: 0;
      font-size: 0;
      transform: translateY(-50%);
      z-index: 20;
      opacity: 0;
      visibility: hidden;
      transform: all 0.15s ease-in-out;
    }
    &.has-value {
      button {
        opacity: 1;
        visibility: visible;
      }
    }
    &-lg {
      input {
        height: 60px;
        font-size: 16px;
      }
    }
    &-sm {
      input {
        height: 40px;
      }
    }
    &-search {
      button {
        width: 28px;
        height: 28px;
        background: url(../../netutor/renew/mo/icon/28/search.svg) no-repeat 50%
          50%;
        opacity: 1;
        visibility: visible;
      }
    }
    &-error {
      input {
        border: 2px solid var(--system-danger-300-cc-3333, #c33);
      }
    }
  }
  &-textarea {
    textarea {
      width: 100%;
      height: 140px;
      padding: 10px 16px;
      border-radius: 6px;
      border: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);

      /* PC/Body/Regular/Medium */

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      letter-spacing: -0.6px;
      // background: url(../../netutor/renew/pc/icon/etc/drag-handle-corner-line.svg)
      //   no-repeat 100% 100%;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      outline: none;
      &:focus,
      &:hover,
      &.focus,
      &:focus-visible,
      &:focus-within {
        border: 2px solid var(--Main-Main-Navy, #172e55);
      }
      &:disabled {
        border: 2px solid var(--gray-100-ededed, #ededed);
        background: var(--gray-50-f-3-f-3-f-3, #f3f3f3);
        color: var(
          --Dark-Opacities-40,
          var(--Dark-Opacities-40, rgba(0, 0, 0, 0.4))
        );
      }
      &::placeholder {
        font-size: 16px;
      }
    }
    &-error {
      textarea {
        border: 2px solid var(--system-danger-300-cc-3333, #c33);
      }
    }
  }
  &-message {
    margin-top: 10px;

    font-size: var(--Font-size-body-small, 15px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    letter-spacing: -0.6px;

    &-error {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #bf3a39;
    }
  }
  &-search {
    position: relative;
    width: 100%;
    input {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 48px;
      padding: 0 20px;
      border-radius: 30px;
      border: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
      background: var(--Gray-White, #fff);
      box-sizing: border-box;
      color: var(--gray-800191919, var(--gray-800191919, #191919));

      /* PC/Body/Regular/Large */

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
      letter-spacing: -0.6px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &::placeholder {
        color: var(--gray-400-afafaf, var(--gray-400-afafaf, #afafaf));
        font-size: 16px;
      }
      &:focus,
      &:hover {
        border: 1px solid var(--Main-Main-Navy, #172e55);
      }
    }
    button {
      position: absolute;
      z-index: 20;
      top: 50%;
      right: 16px;
      width: 28px;
      height: 28px;
      background: url(../../netutor/renew/mo/icon/28/search.svg) no-repeat 50%
        50%;
      border: 0;
      font-size: 0;
      transform: translateY(-50%);
    }
    &-lg {
      input {
        height: 60px;
        padding: 0 24px;
        font-size: var(--Font-size-body-large, 18px);
      }
      button {
        right: 24px;
        width: 40px;
        height: 40px;
        background: url(../../netutor/renew/pc/icon/40/search.svg) no-repeat 50%
          50%;
      }
    }
  }
  &-info {
    padding: 16px;
    border-radius: 5px;
    background: var(--gray-50-f-3-f-3-f-3, #f3f3f3);
    dl {
      dt {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 5px;
        color: #000;

        /* PC/Heading/Xxsmall */

        font-size: var(--Font-size-heading-xxsmall, 16px);
        font-style: normal;
        font-weight: 800;
        line-height: 150%; /* 24px */
        letter-spacing: -0.6px;
      }
      dd {
        padding: 0 32px;
        color: var(--gray-700323232, #323232);

        /* PC/Body/Regular/Small */

        font-size: var(--Font-size-body-small, 15px);
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 22.5px */
        letter-spacing: -0.6px;
        word-break: keep-all;
      }
    }
  }
  &-password {
    position: relative;
    width: 100%;
    input {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 48px;
      padding: 0 20px;
      border-radius: 30px;
      border: 2px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
      background: var(--Gray-White, #fff);
      box-sizing: border-box;
      color: var(--gray-800191919, var(--gray-800191919, #191919));

      /* PC/Body/Regular/Large */

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
      letter-spacing: -0.6px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &::placeholder {
        color: var(--gray-400-afafaf, var(--gray-400-afafaf, #afafaf));
      }
      &:focus,
      &:hover {
        border: 2px solid var(--Main-Main-Navy, #172e55);
      }
    }
    button {
      position: absolute;
      z-index: 20;
      top: 50%;
      right: 20px;
      width: 24px;
      height: 24px;
      background: url(../../netutor/renew/pc/icon/24/eye.svg) no-repeat 50% 50%;
      border: 0;
      font-size: 0;
      transform: translateY(-50%);
    }
    &.active {
      button {
        background: url(../../netutor/renew/pc/icon/24/eye-none.svg) no-repeat
          50% 50%;
      }
    }
    &-lg {
      input {
        height: 60px;
        padding: 0 24px;
        font-size: var(--Font-size-body-large, 18px);
      }
      button {
        width: 40px;
        height: 40px;
      }
    }
  }
  &-choice {
    display: flex;
    gap: 10px;
    &__item {
      position: relative;
      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked ~ label {
          background-color: var(--color-secondary);
          font-weight: 800;
        }
      }
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 140px;
        height: 48px;
        padding: 0 24px;
        border-radius: 24px;
        background: var(--gray-100-ededed, #ededed);
        color: var(--gray-800191919, var(--gray-800191919, #191919));
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.6px;
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
  &-form {
    padding: 30px 20px 0px;
    &:first-child {
      margin-top: 0;
    }
    &-title {
      padding: 0 0 30px 0;

      color: var(--gray-800191919, #191919);

      /* MO/Heading/Small */

      font-size: var(--Font-size-heading-small, 20px);
      font-style: normal;
      font-weight: 800;
      line-height: 150%; /* 30px */
      letter-spacing: -0.6px;
    }
    &-list {
      &-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 0 30px 0;
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          border-bottom: 0;
        }
        &-title {
          display: flex;
          align-items: center;

          color: var(--gray-800191919, #191919);

          /* MO/Heading/Xsmall */

          font-size: 16px;
          font-style: normal;
          font-weight: 800;
          line-height: 150%; /* 24px */
          letter-spacing: -0.6px;
          .required {
            //margin-left: 6px;
            color: var(--Main-Main-Yellow, var(--Main-Main-Yellow, #ffcc24));
            color: var(--color-secondary);
          }
        }
        &-contents {
          width: 100%;
          color: var(--gray-700323232, var(--gray-700323232, #323232));

          /* PC/Body/Regular/Large */

          font-size: var(--Font-size-body-large, 18px);
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 27px */
          letter-spacing: -0.6px;
          a {
            color: var(--Main-Main-Navy, var(--Main-Main-Navy, #172e55));
            text-decoration: underline;
          }
          .ne-write-textbook {
            margin-top: 20px;
          }
          .ne-write-textbook-info__title {
          }
          .ne-textlist {
            margin-top: 10px;
          }
          // .ne-file {
          //   margin-top: 30px;
          // }
          //여기
        }
        &-row {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          .ne-btn {
            flex-shrink: 0;
          }
          &__dash {
            min-width: 8px;
            height: 2px;
            background: var(--gray-6004-b-4-b-4-b, #4b4b4b);
            font-size: 0;
          }
        }
        &-radio {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 28px;
          row-gap: 16px;
          padding: 4px 0 0 0;
        }
        &-contents {
          &-text {
            padding: 10px 0 0;
            color: var(--gray-500969696, #969696);

            /* MO/Body/Regular/Medium */

            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21px */
            letter-spacing: -0.6px;
            word-break: keep-all;
          }
        }
      }
      &-file {
        width: 400px;
        margin-top: 20px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
            padding: 10px 20px;
            border-radius: 6px;
            background: var(--gray-50-f-3-f-3-f-3, #f3f3f3);
            a {
              display: flex;
              align-items: center;
              gap: 12px;
              color: var(--gray-800191919, var(--gray-800191919, #191919));

              /* PC/Body/Medium/Small */

              font-size: var(--Font-size-body-small, 15px);
              font-style: normal;
              font-weight: 500;
              line-height: 150%; /* 22.5px */
              letter-spacing: -0.6px;
              text-decoration: none;
              span {
                @include text-clamp(2, 22.5);
              }
            }
          }
        }
      }
    }
    &-agree {
      width: 100%;
      height: 400px;
      height: 250px;
      padding: 20px;
      border-radius: 6px;
      border: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
      background: var(--gray-50-f-3-f-3-f-3, #f3f3f3);
      overflow: auto;
      color: var(--gray-700323232, #323232);

      /* MO/Body/Regular/Large */

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      letter-spacing: -0.6px;
      strong {
        font-weight: 800;
      }
      &-check {
        display: flex;
        margin-top: 10px;
      }
    }
  }
  &-tabs {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 59px;
      color: var(--gray-800191919, var(--gray-800191919, #191919));
      text-align: center;

      /* PC/Body/Medium/Large */

      font-size: var(--Font-size-body-large, 18px);
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 27px */
      letter-spacing: -0.6px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        right: 0;
        left: 0;

        border-bottom: 4px solid var(--gray-800191919, #191919);
        opacity: 0;
        visibility: hidden;
      }
      &.active {
        &::before {
          opacity: 1;
          visibility: visible;
        }
        font-weight: 800;
      }
    }
    &--type2 {
      gap: 10px;
      border-bottom: none;
    }
    &--type2 & {
      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 48px;
        padding: 0 24px;
        border-radius: 24px;
        background: var(--gray-100-ededed, #ededed);
        color: var(--gray-800191919, var(--gray-800191919, #191919));
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.6px;
        &::before {
          display: none;
        }
        &.active {
          background: var(--Main-Main-Yellow, #ffcc24);
          font-weight: 800;
        }
      }
    }
    &-contents {
      position: relative;
      display: none;
      // padding: 80px;
      overflow: hidden;
      &.active {
        display: block;
      }
    }
  }
  &-sort {
    display: flex;
    gap: 8px;
    overflow: auto;
    margin: 0 -20px;
    padding: 20px 20px 20px 20px;
    &-item {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        padding: 0 24px;
        gap: 10px;
        border-radius: 24px;
        background: var(--gray-100-ededed, #ededed);
        color: var(--gray-800191919, var(--gray-800191919, #191919));
        text-align: center;

        /* PC/Body/Medium/Medium */

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
        letter-spacing: -0.6px;

        white-space: noWrap;
      }
      &.active {
        a {
          background: var(--color-secondary);
          color: var(--gray-800191919, var(--gray-800191919, #191919));
          font-weight: 800;
        }
      }
    }
  }
  &-sort02 {
    display: flex;
    gap: 30px;
    overflow: auto;
    //margin-right: -20px;
    padding: 30px 20px 0 20px;
    &-item {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 6px;
        color: var(--gray-800191919, var(--gray-800191919, #191919));
        text-align: center;
        border-bottom: 3px solid #fff;

        /* MO/Body/Medium/Large */

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
        letter-spacing: -0.6px;
        white-space: noWrap;
      }
      &.active {
        a {
          border-bottom: 3px solid var(--Main-Main-Navy, #172e55);
          color: var(--Main-Main-Navy, var(--Main-Main-Navy, #172e55));
          text-align: center;
          font-weight: 800;
        }
      }
    }
  }
  &-sort02 ~ .ne-board-list .ne-board-list-item:first-child {
    margin: 0;
  }
  &-board-list {
    &-item {
      position: relative;
      padding: 20px 68px 20px 20px;
      border-bottom: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
      // &:first-child {
      //   margin-top: 20px;
      // }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 44px;
        right: 20px;
        min-width: 28px;
        width: 28px;
        height: 28px;
        background: url(../../netutor/renew/mo/icon/28/link.svg) no-repeat 50%
          50%;
      }
      &__badge {
        display: flex;
        gap: 6px;
        margin-bottom: 12px;
      }
      &__title {
        color: var(--gray-800191919, #191919);

        /* MO/Body/Medium/Large */

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
        letter-spacing: -0.6px;
        @include text-clamp(2, 24);
      }
      &__info {
        display: flex;
        flex-wrap: wrap;
        margin-top: 8px;
        span {
          display: flex;
          align-items: center;

          color: var(--gray-500969696, #969696);

          /* MO/Body/Regular/Small */

          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 19.5px */
          letter-spacing: -0.6px;
          &::before {
            content: '';
            width: 1px;
            height: 10px;
            margin: 0 8px;
            background: var(--gray-200-e-1-e-1-e-1, #e1e1e1);
          }
          &:first-child {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
  &-textlist {
    strong {
      color: var(--gray-800191919, var(--gray-800191919, #191919));

      /* MO/Heading/Xxsmall */

      font-size: 14px;
      font-style: normal;
      font-weight: 800;
      line-height: 150%; /* 21px */
    }
    ul {
      li {
        position: relative;
        margin-top: 6px;
        padding-left: 9px;
        color: var(--gray-500969696, #969696);

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        letter-spacing: -0.6px;
        word-break: keep-all;
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 8px;
          left: 0;
          width: 3px;
          height: 3px;
          border-radius: 4px;
          background: var(--gray-500969696, #969696);
          border-radius: 4px;
        }
        a {
          color: var(--Main-Main-Navy, #172e55);
          text-decoration: underline;
        }
      }
    }
  }
  &-file {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        height: 48px;
        padding: 10px 16px;
        border-radius: 6px;
        background: var(--gray-50-f-3-f-3-f-3, #f3f3f3);
        p {
          display: flex;
          align-items: center;
          gap: 8px;
          span {
            color: var(--gray-800191919, var(--gray-800191919, #191919));

            font-size: var(--Font-size-heading-xxsmall, 14px);
            font-style: normal;
            font-weight: 400;
            line-height: 19px; /* 135.714% */
            @include text-clamp(2, 19);
          }
        }
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
      margin-top: 10px;
      p {
        color: var(--gray-500969696, #969696);

        /* MO/Body/Regular/Medium */

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        letter-spacing: -0.6px;
      }
      &__size {
        color: var(--gray-500969696, #969696);

        /* MO/Body/Regular/Medium */

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.6px;
        white-space: noWrap;
        strong {
          color: var(--Main-Main-Navy, #172e55);
          font-weight: 400 !important;
        }
      }
    }
  }
  &-table {
    &-head,
    &-foot {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 20px;
      &-start,
      &-end {
      }
      &-end {
      }
      h4 {
        display: flex;
        align-items: center;
        min-height: 48px;
        margin-bottom: 20px;
        color: var(--gray-800191919, var(--gray-800191919, #191919));

        /* PC/Heading/Medium */

        font-size: var(--Font-size-heading-medium, 24px);
        font-style: normal;
        font-weight: 800;
        line-height: 150%; /* 36px */
        letter-spacing: -0.6px;
      }
      &__button {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    &-foot {
      margin: 40px 0 0 0;
    }
    &-head ~ .ne-none {
      padding-top: 100px;
    }
    &-division {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      span {
        display: flex;
        align-items: center;
        &::before {
          content: '';
          min-width: 1px;
          height: 12px;
          margin: 0 12px;
          background-color: var(--gray-500969696, #969696);

          opacity: 0.3;
        }
        &:first-child {
          &::before {
            display: none;
          }
        }
      }
    }
    &-text {
      margin: 40px 0 10px 0;
      p {
        color: var(--gray-700323232, var(--gray-700323232, #323232));

        /* PC/Body/Regular/Medium */

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        letter-spacing: -0.6px;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
      p {
        @include text-clamp(1);
      }
    }
    table {
      table-layout: auto;
      width: 100%;
      border-top: 1px solid var(--gray-400-afafaf, #afafaf);
      thead {
        th {
          padding: 28px;
          background: var(--gray-100-ededed, #ededed);
          color: var(--Gray-Black, var(--Gray-Black, #000));
          text-align: center;

          /* PC/Body/Medium/Large */

          font-size: var(--Font-size-body-large, 18px);
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 27px */
          letter-spacing: -0.6px;
        }
      }
      tbody {
        td {
          height: 80px;
          padding: 20px 24px;
          border-bottom: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
          color: var(--gray-700323232, var(--gray-700323232, #323232));

          /* PC/Body/Regular/Large */

          font-size: var(--Font-size-body-large, 18px);
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 27px */
          letter-spacing: -0.6px;
        }
      }
    }
    &--sm {
      table {
        table-layout: auto;
        width: 100%;
        border-top: 1px solid var(--gray-400-afafaf, #afafaf);
        thead {
          th {
            height: 80px;
            padding: 16px 30px;
            font-size: var(--Font-size-body-small, 15px);
          }
        }
        tbody {
          td {
            height: 80px;
            padding: 16px 30px;
            font-size: var(--Font-size-body-small, 15px);
          }
        }
      }
    }
    &-detail {
      &__title {
        margin-bottom: 5px;
        color: var(--gray-500969696, var(--gray-500969696, #969696));

        /* MO/Body/Medium/Medium */

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 228.571% */
        letter-spacing: -0.6px;
      }
      table {
        width: 100%;
        table-layout: auto;
        tbody {
          th,
          td {
            padding: 14px 10px;
            border-top: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
            border-bottom: 1px solid var(--gray-200-e-1-e-1-e-1, #e1e1e1);
            vertical-align: top;

            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 228.571% */
            letter-spacing: -0.6px;
            text-align: left;
            word-break: keep-all;
          }
          th {
            width: 76px;
            color: var(--gray-500969696, var(--gray-500969696, #969696));
          }
          td {
            color: var(--gray-800191919, var(--gray-800191919, #191919));
          }
          tr {
            &:first-child {
              th,
              td {
                border-top: none;
              }
            }
          }
        }
      }
    }
  }
  &-ol {
    margin: 0 0 0 20px;
    li {
      list-style: decimal;
      margin-bottom: 24px;
      word-break: keep-all;
      color: var(--gray-700323232, var(--gray-700323232, #323232));

      /* PC/Body/Regular/Medium */

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      letter-spacing: -0.6px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        text-decoration: underline;
      }
    }
    a {
      color: var(--Main-Main-Navy, var(--Main-Main-Navy, #172e55));

      text-decoration: underline;
    }
  }

  $modal-fade-transform: translate(0, -50px) !default;
  $modal-show-transform: none !default;
  $modal-transition: transform 0.3s ease-out !default;
  $modal-scale-transform: scale(1.02) !default;
  &-modal {
    * {
      box-sizing: border-box;
      &:before,
      &:after {
        box-sizing: border-box;
      }
    }

    .ne-form {
      &-list {
        &-item {
          gap: 10px;
          padding: 20px 16px;
          &-title {
            min-width: 100px;
            min-height: 48px;
            color: var(--gray-800191919, var(--gray-800191919, #191919));

            /* PC/Heading/Xxsmall */

            font-size: var(--Font-size-heading-xxsmall, 16px);
            font-style: normal;
            font-weight: 800;
            line-height: 150%; /* 24px */
            letter-spacing: -0.6px;
          }
          &-contents {
            &-text {
            }
          }
        }
      }
    }
    .ne-choice {
      &__item {
        label {
          min-width: auto;
        }
      }
    }
    .ne-ol {
      ol {
        li {
          margin-bottom: 24px;
        }
      }
    }
  }
  &-modal {
    --bs-modal-zindex: 1055;
    --bs-modal-margin: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s linear;

    &.show {
      opacity: 1;
      visibility: visible;
    }
    &-dialog {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
    &-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      pointer-events: auto;

      background: var(--Gray-White, #fff);
      transition: all 0.6s ease;

      overflow: hidden;
    }
    &-title {
      /* MO/Body/Medium/Large */

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
      letter-spacing: -0.6px;
    }
    &-header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 52px;
      padding: 0 20px;
      border-bottom: 1px solid var(--gray-50-f-3-f-3-f-3, #f3f3f3);
      color: var(--gray-800191919, #191919);
      text-align: center;
      .ne-btn {
        position: absolute;
        top: 12px;
        right: 20px;
      }
    }
    &-body {
      height: calc(100vh - 112px);
      padding: 20px;
      overflow-y: auto;
    }
    &-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .ne-btn {
        width: 100%;
        height: 60px;
        border-radius: 0;
      }
    }
    &-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1050;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease-in-out;
      opacity: 0;
      visibility: hidden;
      &.show {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-none {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 100px 0 0 0;
    &::before {
      content: '';
      display: block;
      width: 82px;
      height: 81px;
      background: url(../../netutor/renew/mo/icon/etc/frown.svg) no-repeat 50%
        50%;
    }
    p {
      color: var(--gray-500969696, var(--gray-500969696, #969696));
      text-align: center;

      /* MO/Body/Medium/Large */

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
      letter-spacing: -0.6px;
    }
  }
  &-smile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 120px 0 0 0;
    &::before {
      content: '';
      display: block;
      width: 110px;
      height: 105px;
      background: url(../../netutor/renew/pc/icon/etc/smile.svg) no-repeat 50%
        50%;
    }
    p {
      color: var(--gray-500969696, #969696);
      text-align: center;

      /* PC/Body/Medium/Large */

      font-size: var(--Font-size-body-large, 18px);
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 27px */
      letter-spacing: -0.6px;
    }
  }
}
