//16
.ico-16-more {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  background: url(/netutor/renew/mo/icon/16/more.svg) no-repeat 50% 50%;
  font-size: 0;
}

//28
.ico-28-back {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  background: url(/netutor/renew/mo/icon/28/back.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-28-search {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  background: url(/netutor/renew/mo/icon/28/search.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-28-menu {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  background: url(/netutor/renew/mo/icon/28/menu.svg) no-repeat 50% 50%;
  font-size: 0;
}

//44
.ico-44-kakao {
  display: inline-block;
  min-width: 44px;
  height: 44px;
  background: url(/netutor/renew/mo/icon/44/kakao.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-44-youtube {
  display: inline-block;
  min-width: 44px;
  height: 44px;
  background: url(/netutor/renew/mo/icon/44/youtube.svg) no-repeat 50% 50%;
  font-size: 0;
}
