:root {
  --color-secondary: var(--Main-Main-Green, #94e360) !important;
  --color-secondary-sub: var(--secondary-math-500-bfee-9-f, #bfee9f) !important;
  --color-secondary-hover: var(
    --secondary-math-700-a-9-e-87-f,
    #a9e87f
  ) !important;
  --color-secondary-disabled: var(
    --secondary-math-200-dff-7-cf,
    #dff7cf
  ) !important;
  --color-secondary-select: var(
    --secondary-math-400-c-9-f-1-af,
    #c9f1af
  ) !important;
}

.ne-header-logo a {
  width: 150px;
  height: 20px;
  background: url(../../netutor/renew/mo/logo-math.svg) no-repeat 100% 50% !important;
}

.ico-40-bookmarks-active {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/mo/icon/40/bookmarks-active-math.svg)
    no-repeat 50% 50%;
  font-size: 0;
}
.ico-28-a {
  background: url(../../netutor/renew/mo/icon/28/a-math.svg) no-repeat 50% 50%;
}

.ne-main-news-contents-item--01 {
  background: var(--secondary-math-8009-ee-56-f, #9ee56f);
}
.ne-main-news-contents-item--02 {
  background: #a1b8e6;
}
.ne-main-news-contents-item--03 {
  background: var(--secondary-math-400-c-9-f-1-af, #c9f1af);
}
.ne-main-news-contents-item--04 {
  background: var(--secondary-math-100-eafadf, #eafadf);
}

.ne-banner-contents {
  background: var(--secondary-math-600-b-4-eb-8-f, #b4eb8f);
}
.ne-modal-textbook-list-item__text .ico-20-new-yellow {
  background: url(../../netutor/renew/mo/icon/20/new-math.svg) no-repeat 50% 50%;
}
