<footer class="ne-footer">
  <div class="ne-footer-logo">
    <img src="/netutor/renew/mo/logo-footer.svg" alt="NE 능률" />
  </div>
  <div class="ne-footer-link">
    <a href=""><strong>개인정보처리방침</strong></a>
    <a href="">이용약관</a>
    <a href="">이메일무단수집거부</a>
    <a href="">지사안내</a>
    <a href="">문의전화</a>
  </div>
  <div class="ne-footer-menu">
    <a href="">PC버전</a>
    <button type="button" class="ne-btn ne-btn-text">
      (주)능률사업자정보
      <i class="ico-16-more"></i>
    </button>
  </div>
  <div class="ne-footer-copyright">
    Copyright ⓒ NE Neungyule, Inc. All Rights Reserved
  </div>
  <div class="ne-footer-sns">
    <a href="">
      <i class="ico-44-kakao">카카오 채널</i>
    </a>
    <a href="">
      <i class="ico-44-youtube">유투브</i>
    </a>
  </div>
</footer>
