<header class="ne-header">
  <div class="ne-header-start">
    <button type="button" class="ne-btn ne-btn-icononly">
      <i class="ico-28-back">뒤로</i>
    </button>
  </div>
  <div class="ne-header-center">
    <h1>NE 세미나</h1>
  </div>
  <div class="ne-header-end">
    <button type="button" class="ne-btn ne-btn-icononly">
      <i class="ico-28-search">검색</i>
    </button>
    <button type="button" class="ne-btn ne-btn-icononly">
      <i class="ico-28-menu">메뉴</i>
    </button>
  </div>
</header>
