<header class="ne-header">
  <div class="ne-header-start">
    <div class="ne-header-button">
      <!-- <button class="ne-btn ne-btn-icononly">
        <i class="ico-28-back"></i>
      </button> -->
      <a href="/pub" class="ne-btn ne-btn-icononly">
        <i class="ico-28-back"></i>
      </a>
    </div>
  </div>
  <h1></h1>
  <div class="ne-header-end">
    <div class="ne-header-button">
      <button class="ne-btn ne-btn-icononly">
        <i class="ico-28-search"></i>
      </button>
      <button class="ne-btn ne-btn-icononly">
        <i class="ico-28-menu"></i>
      </button>
    </div>
  </div>
</header>
