<header class="ne-header">
  <div class="ne-header-start">
    <div class="ne-header-button">
      <!-- <button class="ne-btn ne-btn-icononly">
        <i class="ico-28-back"></i>
      </button> -->
      <div class="ne-header-logo">
        <a href="/pub/">NE Tutor</a>
      </div>
      <a href="/pub" class="ne-btn ne-btn-icononly">
        <i class="ico-28-back"></i>
      </a>
    </div>
  </div>
  <h1></h1>
  <div class="ne-header-end">
    <div class="ne-header-button">
      <button class="ne-btn ne-btn-icononly ne-header-search-toggle">
        <i class="ico-28-search"></i>
      </button>
      <button class="ne-btn ne-btn-icononly ne-header-menu-toggle">
        <i class="ico-28-menu"></i>
      </button>
    </div>
  </div>
  <div class="ne-header-search">
    <div class="ne-search">
      <input type="text" placeholder="검색어를 입력해주세요." />
      <button type="button" class="ne-search__delete">삭제</button>
      <button type="button">검색</button>
    </div>
  </div>
  <div class="ne-header-menu">
    <div class="ne-header-menu-head">
      <div class="ne-header-logo">
        <a href="/pub/">NE Tutor</a>
      </div>
      <button class="ne-btn ne-btn-icononly ne-header-menu-toggle">
        <i class="ico-28-close"></i>
      </button>
    </div>
    <div class="ne-header-menu-info">
      <div class="ne-header-menu-info__text">
        <strong>환영합니다 :)</strong>
        <p>엔이튜터는 선생님의 교육을 응원합니다.</p>
      </div>
      <div class="ne-header-menu-info__button">
        <button type="button" class="ne-btn ne-btn-rounded ne-btn-primary">
          로그인
        </button>
        <button type="button" class="ne-btn ne-btn-rounded ne-btn-outlined">
          회원가입
        </button>
      </div>
    </div>
    <!-- <div class="ne-header-menu-info">
      <div class="ne-header-menu-info__welcome">
        <i class="ico-36-profile"></i>
        <p>
          <strong>홍길동</strong>
          님 반갑습니다 :)
        </p>
      </div>
    </div> -->
    <div class="ne-header-menu-gnb">
      <div class="ne-header-menu-gnb-depth1">
        <ul>
          <li class="active">
            <a href="javascript:void()"><p>교재/수업자료</p></a>
          </li>
          <li>
            <a href="javascript:void()"><p>커리큘럼</p></a>
          </li>
          <li>
            <a href="javascript:void()"><p>학원/수업 정보</p></a>
          </li>
          <li>
            <a href="javascript:void()"><p>샘지원센터</p></a>
          </li>
          <li>
            <a href="javascript:void()"><p>고객센터</p></a>
          </li>
          <li>
            <a href="javascript:void()"><p>마이페이지</p></a>
          </li>
        </ul>
      </div>
      <div class="ne-header-menu-gnb-depth2">
        <div class="ne-header-menu-gnb-depth2-item active">
          <dl>
            <dd>
              <a href="">유아</a>
              <a href="">초등</a>
              <a href="">중등</a>
              <a href="">고등</a>
            </dd>
          </dl>
        </div>
        <div class="ne-header-menu-gnb-depth2-item">
          <dl>
            <dd>
              <a href="">전체 커리큘럼</a>
              <a href="">맞춤 커리큘럼</a>
              <a href="">레벨차트</a>
            </dd>
          </dl>
        </div>
        <div class="ne-header-menu-gnb-depth2-item">
          <dl>
            <dd>
              <a href="">학원/수업 정보</a>
            </dd>
          </dl>
        </div>
        <div class="ne-header-menu-gnb-depth2-item">
          <dl>
            <dd>
              <a href="">세미나</a>
              <a href="">이벤트</a>
              <a href="">새소식</a>
            </dd>
          </dl>
        </div>
        <div class="ne-header-menu-gnb-depth2-item">
          <dl>
            <dd>
              <a href="">자주 묻는 질문</a>
              <a href="">1:1 문의</a>
              <a href="">공지사항</a>
              <a href="">교재 PDF 신청</a>
              <a href="">교재 오류 정정</a>
              <a href="">교재 오류 신고</a>
              <a href="">지사/총판 안내</a>
            </dd>
          </dl>
        </div>
        <div class="ne-header-menu-gnb-depth2-item">
          <dl>
            <dd>
              <a href="">나의 정보</a>
              <a href="">최근 이용 교재</a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="ne-header-menu-button">
      <a
        href="https://m.neteacher.co.kr/math/"
        target="_blank"
        class="ne-btn ne-btn-primary ne-btn-lg"
      >
        교과서 수업지원 센터
      </a>
      <button type="button" class="ne-btn ne-btn-black ne-btn-lg">
        로그아웃
      </button>
    </div>
  </div>
</header>
<button type="button" class="ne-header-dim"></button>
